name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          # Please note: You must specify the full Julia version number (major.minor.patch).
          # This is because the value here will be directly interpolated into a download URL.
          - '1.0.5'  # minimum Julia version supported in Project.toml
          - '1.6.7'  # previous LTS
          - '1.10.7' # current LTS
          - '1.11.2' # currently the latest stable release
    steps:
      - uses: actions/checkout@v2
      - name: Setup Docker
        run: |
          docker version
          docker compose version
          docker build --build-arg JULIA_VERSION=${{matrix.version}} -t slurm-cluster-julia -f ci/Dockerfile .
          docker compose -f ci/docker-compose.yml up -d
          docker ps
      - name: Test Docker
        run: |
          docker exec -t slurmctld julia --version
          docker exec -t slurmctld srun -n 4 hostname
      - name: Test SlurmClusterManager
        run: |
          docker exec -t slurmctld julia -e 'import Pkg; Pkg.activate("SlurmClusterManager"); Pkg.test()'
